/* Blog Detail Container Styles */
.blog-detail-container {
  max-width: 800px;
  margin: 40px auto;
  padding: 20px;
  border-radius: 10px;
  background-color: #1b2430;
  color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.blog-detail-container h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
  text-align: center;
  color: #ff9800; /* Accent color */
}

.blog-detail-container img {
  width: 100%;
  height: 400px; /* Fixed height */
  object-fit: cover; /* Ensures the image covers the entire area */
  margin-bottom: 20px;
  border-radius: 10px;
}

.blog-detail-container p {
  font-size: 1.2rem;
  line-height: 1.8;
  text-align: justify;
}

@media (max-width: 768px) {
  .blog-detail-container {
    padding: 15px;
  }

  .blog-detail-container h1 {
    font-size: 2rem;
  }

  .blog-detail-container p {
    font-size: 1rem;
  }

  .blog-detail-container img {
    height: 300px; /* Adjust for smaller screens */
  }
}
