/* Footer Styles */
footer {
  background-color: whitesmoke;
  color: #1b2430;
  padding: 40px 0;
}

.seperate {
  height: 1px;
  width: 100%;
  color: black;
  background-color: black;
}

.footer-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.footer-content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.footer-links,
.footer-social-media {
  flex: 1 1 200px;
  margin: 20px 0;
}

.footer-links h4,
.footer-social-media h4 {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.footer-links ul,
.footer-social-media ul {
  list-style: none;
  padding: 0;
}

.footer-links ul li,
.footer-social-media ul li {
  margin-bottom: 10px;
}

.footer-links ul li a,
.footer-social-media ul li a {
  color: #1b2430;
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer-links ul li a:hover,
.footer-social-media ul li a:hover {
  color: #ffde00;
}

.footer-social-media ul {
  display: flex;
  gap: 10px;
}

.footer-social-media ul li {
  display: inline;
}

.footer-social-media ul li a i {
  font-size: 1 rem;
  padding: 0 1 rem;
}

.footer-bottom {
  text-align: center;
  margin-top: 20px;
  border-top: 1px solid #444;
  padding-top: 10px;
  font-size: 0.9rem;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .footer-content {
    flex-direction: column;
    align-items: center;
  }
}
